<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pessoas</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>LOGRADOURO</th>
                <th>COMPLEMENTO</th>
                <th>NUMERO</th>
                <th>BAIRRO</th>
                <th>CIDADE</th>
            </tr>
        </thead>
        <tbody>
            {% for e in lista %}
            <tr>
                <td>{{ e.ID}}</td>
                <td>{{ e.LOGRADOURO}}</td>
                <td>{{ e.COMPLEMENTO}}</td>
                <td>{{ e.NUMERO}}</td>
                <td>{{ e.BAIRRO}}</td>
                <td>{{ e.CIDADE}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <style>
            body {
            background-image: url('../static/universo.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            }
        </style>
    </div>
</html>